.mobile-header
  display: block
  padding: 0 0
  margin: 0

.mobile-header__menu

    height: 65px
    width: 100%
    z-index: 100

.mobile-header__menu_og
  a
    display: inline-block
    width: 20px
    height: 20px
    background: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/bars.svg')
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: contain


.mobile-header__logo
  position: fixed
  left: 1.5rem
  top: 1.5rem

  a
    font-size: 16px
    text-transform: uppercase
    font-weight: bold
    text-decoration: none
    color: $dark-body-color

.bm-burger-button
  width: 20px
  height: 20px
  position: fixed
  right: 2rem
  top: 1.5rem


.bm-burger-bars
  background: #373a47


.bm-cross-button
  height: 24px
  right: 1.7rem !important
  top: 1.2rem !important
  transform: scale(1.5)
  width: 24px


.bm-cross
  background: #fff


.bm-menu
  background: $dark-body-color !important
  font-size: 2em
  font-weight: 200
  letter-spacing: 0.1em
  padding: 2em 1em
  overflow-y: hidden !important

  a
    color: $light-bg-color
    text-decoration: none

    &:hover
      color: $light-body-color

.bm-menu-wrap
  overflow-y: visible !important

.bm-morph-shape
  fill: #373a47


.bm-item-list
  color: #b8b7ad
  padding: 0.8em

  a:last-child
    margin-left: 0.6rem
